body {

    /* background color
    */
    background-color: #222;
}

#memexContainer {

    /* make the container centred 
    */
    margin: auto;
    max-width: 900px;

    /* make the container columned 
    */
    columns: 250px auto;
    column-gap: 40px;
}

.memexElement {

    /* take the whole column width 
    */
    width: 100%;

    /* spacing between elements 
    */
    display: inline-block;
    margin: 5px 0px;

    /* appearance of the div
    */
    background-color: #444;
    border: 1px none;
    border-radius: 15px;
    padding: 15px;

    /* appearance of the text
    */
    font: 18px Verdana, sans-serif;
    color: #ddd;
}
